.accordion {
  width: 500px;
}

.accordion p {
  width: 90% !important;
}

.accordion-control {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
  font-weight: 700;
}

.active, .accordion-control:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
}

.info__plant-price {
  font-size: 35px;
  font-weight: 700;
}

.red {
  background-color: rgb(228, 0, 0);
  padding: 8px 10px;
  color: #fff;
}

.yellow {
  background-color: rgb(231, 231, 17);
  padding: 8px 10px;
}

.green {
  background-color: rgb(30 203 30);
  padding: 8px 12px;
  color: #fff;
}

.panel--flex {
  display: flex;
}

.panel--flex :first-child{
  width: 60%;
}


/* .iconCare::before {
  width: 15px;
  margin-right: 10px;
  background: url('/public/icons/light.svg') no-repeat;
  background-size: contain;
} */