.btn {
  border: 1px #7a5cfa solid;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: #7a5cfa;
  font-size: 14px;
  cursor: pointer;
}

.btn--bg {
  background-color: #7a5cfa;
  color: white;
}

.btn-grey {
  background-color: grey;
  color: #fff;
  border-color: grey;
  cursor: default;
}

.anchor {
  margin-top: 20px;
  text-decoration: none;
}