.dropdownSelect { 
  border: 2px solid #7a5cfa;
  border-radius: 10px;
  padding: 10px;
}

.dropdownSelect option {
  font-size: 14px;
  padding: 5px;
  
}

.dropdownSelect option:hover {
  background-color: #7a5cfa;
}