@import url('./modules/btn.css');
@import url('./modules/card.css');
@import url('./modules/dropdown.css');

* {
  font-family: 'Roboto', sans-serif;
  color: rgb(83, 83, 83);
}

main {
  display: flex;
  justify-content: center;
  gap: 200px;
}

p {
  margin: 10px 0;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

.img {
  width: 15px;
  margin-right: 10px;
}

.preview__card {
  margin-left: 40px;
}

.alert {
  background-color: rgb(228, 196, 15);
  padding: 5px;
  border-radius: 3px;
}