@import url('./modules/form.css');
@import url('./modules/card.css');
@import url('./modules/btn.css');
@import url('./modules/dropdown.css');

* {
  font-family: 'Roboto', sans-serif;
  color: rgb(83, 83, 83);
}

main {
  display: flex;
  justify-content: space-around;
  padding: 18px;
}

p {
  margin: 10px 0;
}